<div class="col-sm-2 col-md-4">
  <%= image_tag(product.image_url, class: "img-responsive") %>
  <h2><%= product.name %></h2>
  <p>Description:<%= product.description %></p>
  <strong>Price: € <%= product.price %></strong> 
	<%= link_to 'Show', product ,class:"btn btn-default"%>
	<%= link_to 'Edit', edit_product_path(product), class:"btn btn-default" %>
	<%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default"%>
</div> <!-- /col -->