<div class="col-xs-12 col-sm-6 col-lg-4">
  <%= image_tag(product.image_url, class: "img-responsive") %>
  <h2><%= product.name %></h2>
  <p>Description:<%= product.description %></p>
  <strong>Price: € <%= product.price %></strong> 
  <%= link_to 'Show', product %>
  <br>
  <br>
</div> <!-- /col -->